<launch>

  <node pkg="state_machine_package"
        type="state_machine.py"
        name="state_machine_node"
        respawn="false"
        output="screen"
        required="true">
  </node>

  <node pkg="rosbag" type="record" name="BagSave" args="/command_request /command_response /joint_state_pose /joint_states --split --size=512 -O $(find state_machine_package)/bags/meta-workstations-bags.bag" />

</launch>
